includes:
    - phpstan-baseline.neon

    # Is loaded automatically when using phpstan/extension-installer
    # - vendor/larastan/larastan/extension.neon
    # - vendor/phpstan/phpstan-deprecation-rules/rules.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

rules:
    - Astrotomic\PHPStan\Rules\ConsoleCommandRule
    - Astrotomic\PHPStan\Rules\ControllerRule
    - Astrotomic\PHPStan\Rules\DisallowedEvalRule
    - Astrotomic\PHPStan\Rules\DisallowedExitRule
    - Astrotomic\PHPStan\Rules\DisallowedFunctionCallRule
    - Astrotomic\PHPStan\Rules\DisallowedMethodCallRule

parameters:
    paths:
        - app

    level: 9

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # Level 6
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: argument.templateType
